body
{
	padding-top:90px;
	font-family: 'Lato', sans-serif;
}

.background-white
{
	background:white;
}

.no-border
{
	border:0px;
}

.gray-text
{
	color:#999999;
}

.text-300
{
	font-weight:300;
}

.pt20
{
	padding-top: 20px;
}
.pt80
{
	padding-top:80px;
}

.pb10
{
	padding-bottom:10px;
}
.pb20
{
	padding-bottom:20px;
}

.font-size-20
{
	font-size:20px;
}

.inline-block
{
	display: inline-block;
}

.initial
{
	position:initial;
}

.user-illustration
{
	width:300px;
}

.banner-text h1
{
	font-weight:300;
	color:#5a6580;
	font-size: 45px;
}

.banner-text h4
{
	font-weight:900;
	color:#505b78;
}

.banner-text .helper-text
{
	color:#50637c;
}

.banner-text .carousel-caption
{
	text-shadow: none;
}

.cta-bg
{
	min-width:240px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 300;
	padding: 15px 60px;
	letter-spacing: 1px;
	font-size: 15px;
	border: 0px;
	text-shadow: none;
	background: #1a6a96;
	background: -moz-linear-gradient(-45deg, #1a6a96 0%, #4aadbc 100%);
	background: -webkit-linear-gradient(-45deg, #1a6a96 0%,#4aadbc 100%);
	background: linear-gradient(135deg, #1a6a96 0%,#4aadbc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a6a96', endColorstr='#4aadbc',GradientType=1 );
}

/* overwriting bootstrap classes */
.navbar-brand
{
	height:auto;
}
.navbar-brand>img
{
	width:200px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img
{
	display: inline-block;
}

.carousel-control, .carousel-control.left, .carousel-control.right
{
	background: none;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next
{
	right:80%;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev
{
	left:80%;
}

.banner-text .carousel-control .glyphicon
{
	font-size:15px;
	color:#aaa;
}

.carousel-indicators
{
	bottom:0px;
}

.carousel-indicators .active
{
	background: #000;
	width: 7px;
	height: 7px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}


@media (max-width: 768px)
{
	.res-pt0
	{
		padding-top:0px;
	}
	.res-pb0
	{
		padding-bottom:0px;
	}
	.res-text-center
	{
		text-align: center;
	}
	.res-text-center
	{
		text-align: center;
	}
	.navbar-brand
	{
		float:none;
		display: inline-block;
	}
	.user-illustration
	{
		width:200px;
	}
}